# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/
env/

# Ignore data outputs (but keep README images)
data_processed/*.parquet
data_processed/*.csv
data_processed/*.txt
